<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css">

      <!--=============== SAKURA CSS ===============-->
      <link rel="stylesheet" href="/css/sakura.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="/css/styles.css">

      <title>Ofis Yönetim Sistemi</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">
               <span>Ofis Yönetim Sistemi</span>
            </a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li>
                     <a href="#" class="nav__link">Home</a>
                  </li>
               </ul>

               <div class="nav__close" id="nav-close">
                  <i class="ri-close-large-line"></i>
               </div>
            </div>

            <div class="nav__toggle" id="nav-toggle">
               <i class="ri-apps-2-line"></i>
            </div>

         </nav>
      </header>

      <!--==================== MAIN ====================-->
      <main class="main">
         <!--==================== HOME ====================-->
         <section class="home">
            <img src="img/img-bg.svg" alt="image" class="home__bg">

         <div class="home_container container">
            <div class="home__data">
               <h1 class="home__title">Hoşgeldiniz <br> Ofis Yönetim Sistemi</h1>

               <p class="home__description">
                  Ofis yönetim sistemimiz, iş süreçlerinizi merkezi bir platformda yönetmenizi
                  sağlayarak verimliliği artırır ve zaman yönetimini kolaylaştırır.
                  Kullanıcı dostu arayüzü sayesinde ekip içi iletişimi güçlendirir ve iş akışlarınızı optimize eder.
               </p>

               <a href="/home_page" class="home__button">Admin Girişi</a>
               <a href="/login" class="home__button">Personel Girişi</a>

               <img src="img/lantern-1.svg" alt="image" class="home__lantern-1">
                  <img src="img/lantern-2.svg" alt="image" class="home__lantern-2">

            </div>


            <div class="home__images">
               <img src="/img/img-1.svg" alt="image" class="home__img-1">
               <img src="/img/img-2.svg" alt="image" class="home__img-2">
               <img src="/img/img-3.svg" alt="image" class="home__img-3">
               <img src="/img/img-4.svg" alt="image" class="home__img-4">
               <img src="/img/img-5.svg" alt="image" class="home__img-5">
               <img src="/img/img-6.svg" alt="image" class="home__img-6">

            </div>
         </div>


         </section>
      </main>

      <!-- Sakura petals -->
      <div class="sakura-petals"></div>
      
      <!--=============== GSAP ===============-->
      <script src="/js/gsap.min.js"></script>

      <!--=============== SAKURA JS ===============-->
      <script src="/js/sakura.min.js"></script>
      
      <!--=============== MAIN JS ===============-->
      <script src="/js/main.js"></script>
   </body>
</html>