<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Bilgilendirme</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container my-2">
  <h1>Bilgilendirme Listesi</h1>
  <a th:href="@{/showNewInformationForm}" class="btn btn-primary btn-sm mb-3"> Bilgilendirme Ekle </a>
  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Başlık</th>
      <th>İçerik</th>
      <th> Aksiyonlar </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="information : ${listInformation}">
      <td th:text="${information.title}"></td>
      <td th:text="${information.content}"></td>
      <td>
        <a th:href="@{/showFormForUpdateInformation/{id}(id=${information.id})}" class="btn btn-primary">Güncelle</a>
        <a th:href="@{/deleteInformation/{id}(id=${information.id})}" class="btn btn-danger">Sil</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
