<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Yeni Doküman</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container">
  <h1>Yeni Doküman</h1>
  <form action="#" th:action="@{/saveDocument}" th:object="${document}" method="POST" enctype="multipart/form-data">
    <input type="text" th:field="*{title}" placeholder="Title" class="form-control mb-4 col-4">
    <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 col-4">
    <input type="file" name="file" class="form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2"> Dokümanı Kaydet</button>
  </form>
  <a th:href="@{/documents}"> Doküman Listesine Dön</a>
</div>
</body>

</html>
