<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>İzin Güncelle</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>Personel Yönetim</h1>
  <hr>
  <h2>İzin Güncelle</h2>

  <form action="#" th:action="@{/saveLeave}" th:object="${leave}" method="POST">
    <input type="hidden" th:field="*{id}" />

    <input type="number" th:field="*{employeeId}" class="form-control mb-4 col-4">

    <input type="date" th:field="*{startDate}" class="form-control mb-4 col-4">

    <input type="date" th:field="*{endDate}" class="form-control mb-4 col-4">

    <input type="text" th:field="*{reason}" class="form-control mb-4 col-4">

    <select th:field="*{status}" class="form-control mb-4 col-4">
      <option value="Pending" th:selected="${leave.status == 'Pending'}">Beklemede</option>
      <option value="Approved" th:selected="${leave.status == 'Approved'}">Onaylandı</option>
      <option value="Rejected" th:selected="${leave.status == 'Rejected'}">Reddedildi</option>
    </select>

    <button type="submit" class="btn btn-info col-2"> İzin Talebini Güncelle</button>
  </form>

  <hr>

  <a th:href="@{/leaves}"> İzin Listesine Dön</a>
</div>
</body>

</html>
